<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Personal</strong>
      <small>Profile</small>
    </div>
    <div class="card-body">
      <div class="col-md-12" style="padding-left: 0px!important;margin-left:0px!important;padding-right: 0px!important;margin-right:0px!important">
        <div class="row" style="height:70px!important">
          <div class="form-group col-md-3">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter your First Name">
          </div>
          <div class="form-group col-md-3">
            <label for="firstName">Last Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter your Last Name">
          </div>
          <div class="card form-group col-md-6" style="border:none!important">
            <div style="text-align:center">
              <img class="card-img-top" style="border-radius: 26%;border: 2px solid #3a9d5d;display: inline-block" class="imgSize" [src]="url"
                (error)="setDefault()">
            </div>
            <div style="text-align: center">
              <input id="file-upload" type="file" (change)="readUrl($event)" />
              <label for="file-upload" class="custom-file-upload upload" style="display:inline-block">
                <i class="fa fa-cloud-upload upload-icon fa-2x"></i>
              </label>
            </div>
          </div>
        </div>
      </div>





      <div class="form-group col-md-5">
        <div class="row">
          <label for="company">Email</label>
          <input type="email" class="form-control" id="company" placeholder="Enter your email">
        </div>
      </div>
      <div class="col-md-5" style="padding-left: 0px!important;margin-left:0px!important;padding-right: 0px!important;margin-right:0px!important">
        <div class="row">
          <div class="form-group col-md-8">
            <label for="firstName">Street Address</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter your Street Name">
          </div>
          <div class="form-group col-md-4">
            <label for="firstName">Country</label>
            <select class="form-control">
              <option>USA</option>
              <option>UK</option>
              <option>UAE</option>
              <option>PAK</option>
              <option>AFG</option>
              <option>AUS</option>
            </select>
          </div>
        </div>
      </div>
      <!--/.row-->

      <div class="col-md-5">
        <div class="row">
          <div class="form-group" style="margin-right: 30px">
              <label>Get Connected</label>
          </div>
          
          <div class="row mrg">
            <span >
              <i class="fa fa-facebook btn btn-brand btn-sm btn-facebook"></i>
            </span>
            <span >
              <i class="fa fa-twitter btn btn-brand btn-sm btn-twitter"></i>
            </span>
            <span >
              <i class="fa fa-linkedin btn btn-brand btn-sm btn-linkedin"></i>
            </span>
          </div>
          
        </div>
      </div>

      <div class="form-group wrapper">
        <button id="yourdiv" style="margin-right:10px;width: 72.53px;" type="button" class="btn btn-block btn-outline-success">SAVE</button>
        <button id="yourdiv" style="width: 72.53px;margin-top: 0px!important" type="button" class="btn btn-block btn-outline-danger">CANCEL</button>
      </div>

    </div>
  </div>
</div>
<!--/.col-->