.margin-fix{
  margin-top:-3px !important;
 }

 
 image-upload > img 
 {
   width:40px;
   cursor:pointer;
 }
 .wrapper
 {
   text-align: center;
 }
 #yourdiv {
   display: inline-block;
 }
 
 // input[type="file"] {
 //   display: none;
 // }
 
 .imgSize
 { 
   // min-width:  18rem;;
  
   min-height: 200px;
   min-width: 200px;
   max-height: 200px;
   max-width:  200px;
 }
 #file-upload {
   display: none;
 }
 // #file-upload{
 //   display: none;
 // }
 .custom-file-upload {
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
   display: inline-block
 }
 .inline{
   text-align: center;
 }
 
 
 .upload-btn-wrapper {
   position: relative;
   overflow: hidden;
   display: inline-block;
 }
 
 .btnUpload {
   border: 2px solid gray;
   color:#23282c;
   background-color: #e4e7ea;
   padding:5px;
   border-radius: 8px;
   font-size: 12px;
 }
 
 .upload-btn-wrapper input[type=file] {
   font-size: 100px;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
 }


.response
{
  height:70px !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .response
  {
      height:auto !important;
      width: auto !important;
  }
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
    .response
    {
        height:70px !important;
        width: 70px !important;
    }
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
    .response
    {
        height:70px !important;
        width: 70px !important;
    }
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  
  /* iPhone 6 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  
  /* iPhone 6+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
    }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .response
    {
        height:auto !important;
        width: auto !important;
    }
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .response
    {
        height:70px !important;
        width: auto !important;
    }
  }
  ul>li
  {
    margin-bottom: 5px;
  }

  .mrg > span 
  {
margin:5px;
  }