<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <br/>
                    <button type="button" class="btn btn-primary px-4" (click)="auth.login()">Login</button>
                  </div>

                  <div class="col-6">
                    <h6 style="float:right;margin-right:5px;"> Use Social Accounts</h6>
                    <div class="btn btn-brand btn-sm btn-google-plus" id="googleBtn" (click)="attachSignin('googleBtn')" style="margin-bottom: 4px">
                      <i class="fa fa-google-plus"></i>
                    </div>
                    &nbsp;
                    <button type="button" class="btn btn-brand btn-sm btn-facebook" (click)="loginfb()" style="margin-bottom: 4px">
                      <i class="fa fa-facebook"></i>
                    </button>
                  </div>
                  <div style="clear:both"></div>

                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
