<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      View Deals
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button class="btn btn-block btn-dark" (click)="goCreate()">
            <i class="icon-plus icons font-2xl d-block"></i></button>
        </div>
      </div>
      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="name">Deal Name</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="email">Deal Amount</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="email">Deal Parameter</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="age">Active</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="city">Type</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="city">Action</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of item">
          <td>{{item.name}}</td>
          <td>{{item.Amount}}</td>
          <td>{{item.Amount}}</td>
          <td [style.color]="item.Active=='yes'?'lightgreen':'red'">{{item.Active}}</td>
          <td style="color:#ccff00">{{item.type | uppercase}}</td>
          <td>
            <div class="row">
              <div class="col-2 col-md-2 col-sm-2">
                <i class="fa fa-edit "></i>
              </div>
              <div class="col-2 col-md-2 col-sm-2">
                <i class="fa fa-trash-o"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
