
.wrapper
{
  text-align: center;
}
#yourdiv {
  display: inline-block;
}



// range slider



.selectthemul li {list-style:none;}

// body {padding:70px 20px;}

/* Range Slider */
.selectthem .range_slider {position:relative; width:100%; padding:10%;}

/* Input */
.selectthem .range_slider .ix-min-input {position:absolute; top:0; left:0; margin:20px;}
.selectthem .range_slider .ix-max-input {position:absolute; top:0; right:0; margin:20px;}

/* Progress Bar (TouchEvent Area) */
.selectthem .range_slider .ix-slider-bar {position:absolute; top:0; left:0; right:0; margin:0 60px 0; height:10px; border-radius:5px;}
.selectthem .range_slider .ix-progress {position:absolute; width:100%; height:100%; border-radius:5px;}

/* Icon */
.selectthem .range_slider .ix-min-icon,
.selectthem .range_slider .ix-max-icon {position:absolute; margin-top:-5px; margin-left:-10px; width:20px; height:20px; cursor:pointer; border:red solid 5px; border-radius:10px; box-sizing:border-box; background:#fff; box-shadow:1px 1px 2px 2px rgba(0,0,0,0.2);}
.selectthem .range_slider .ix-min-icon:focus,
.selectthem .range_slider .ix-max-icon:focus {background:orange;}

.selectthem .red {background:#f3f4f5;}
.selectthem .gray {background:#23282c;}

.wrapper
{
  text-align: center;
}
#yourdiv {
  display: inline-block;
}
