<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <strong>Investment</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <!-- this select -->
          <div class="row">
            <div class="col-sm-6">
              <fieldset class="form-group">
                <ng-select class="bootstrap" placeholder="Choose your Company Param" [options]="countries" [multiple]="true" [(ngModel)]="selectedCountries"></ng-select>
              </fieldset>
            </div>
          </div>
          <!-- this select -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
            </div>
          </div>
          <!--/.row-->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group selectthem">
                <label for="ccnumber">Deal Amount</label>
                <div class="range_slider" data-ix-options="min:1000; max:10000; values:3000 8000; gap:1000; number-format:true;">

                  <input type="text" class="ix-min-input form-control col-md-3" style="margin-top:20px" />
                  <!-- Touch Event ? ???? ?? -->
                  <div class="ix-slider-bar gray">
                    <div class="ix-progress red"></div>
                    <a class="ix-min-icon" href="javascript:;"></a>
                    <a class="ix-max-icon" href="javascript:;"></a>
                  </div>
                  <input type="text" class="ix-max-input form-control col-md-3" style="margin-top:20px" />
                </div>
              </div>
            </div>
          </div>

          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-2">
              <label for="ccmonth">Month</label>
              <select class="form-control" id="ccmonth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
            <div class="form-group col-sm-2">
              <label for="ccyear">Year</label>
              <select class="form-control" id="ccyear">
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
              </select>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="cvv">Select Company</label>
                <select class="form-control" id="ccyear">
                  <option>A Company</option>
                  <option>B Company</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="form-group">
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Debt</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Equity</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">Both</label>
              </div>
            </div>
          </div>
          <div class="form-group wrapper">
            <button id="yourdiv" style="margin-right:10px;width: 72.53px;" type="button" class="btn btn-block btn-outline-success">SAVE</button>
            <button id="yourdiv" style="width: 72.53px;margin-top: 0px!important" type="button" class="btn btn-block btn-outline-danger">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;

  slider.oninput = function () {
    output.innerHTML = this.value;
  }
</script>