<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      View Deals
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
          </div>
        </div>
      </div>

      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="name">Deal Name</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="email">Deal Amount</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="email">Deal Parameter</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="age">Active</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="city">Type</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="city">Action</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of item">
          <td>{{item.name}}</td>
          <td>{{item.Amount}}</td>
          <td>{{item.Amount}}</td>
          <td [style.color]="item.Active=='yes'?'lightgreen':'red'">{{item.Active}}</td>
          <td style="color:#ccff00">{{item.type | uppercase}}</td>
          <td>
            <div class="row">
              <div class="col-2 col-md-2 col-sm-2">
                <i class="fa fa-check "></i>
              </div>
              <div class="col-2 col-md-2 col-sm-2" (click)="largeModal.show()">
                <i class="fa fa-remove"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>

      <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Reason</h4>
              <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <fieldset class="form-group">
                  <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
                  <div class="col-md-12">
                    <textarea id="textarea-input" name="textarea-input" rows="12" class="form-control" placeholder="Content.."></textarea>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-sm btn-danger" (click)="largeModal.hide()"> Cancel</button>
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
  </div>
</div>



