<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Add Deal</strong>
    </div>
    <div class="card-body">
      <div class="form-group" style="display:inline">
        <label for="Deal col-md-3">Deal Name</label>
        <input type="text" class="form-control col-md-6" id="company" placeholder="Enter deal name here">
      </div>

      <div class="card form-group" style="float:right;border:none!important;position: relative;bottom: 56px;right: 127px;">
        <!-- <div class="col-md-5 form-group"> -->
        <img class="card-img-top" style="border-radius: 26%;border: 2px solid #3a9d5d" class="imgSize" [src]="url" (error)="setDefault()">
        <!-- <div class="card-body custom" style="background-color: white">
            <input type='file' (change)="readUrl($event)">
          </div> -->
        <div class="inline">
          <input id="file-upload" type="file" (change)="readUrl($event)" />
          <label for="file-upload" class="custom-file-upload upload">
            <i class="fa fa-cloud-upload upload-icon fa-2x"></i>
          </label>
        </div>
        <!-- </div> -->
      </div>

      <div class="form group">
        <label for="Date Range">Start date - End date</label>
        <!-- <div style="clear:both"></div> -->
        <div>
          <input class="form-control col-md-6 " #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
          <!-- <button class="btn btn-success inline-fix" (click)="drp.toggle()">
            <i class="cui-calendar icons font-2xl d-block mt-4 margin-fix"></i>
          </button> -->
        </div>
      </div>
      <div class="form-group">
        <label for="street">Deal Amount</label>
        <input type="number" class="form-control col-md-4" id="Amount" placeholder="000,0000,0000">
      </div>
      <!-- <div class="row">
                <div class="form-group col-sm-8">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter your city">
                </div>
                <div class="form-group col-sm-4">
                    <label for="postal-code">Postal Code</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                </div>
            </div> -->
      <!--/.row-->
      <!-- <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Country name">
            </div> -->
      <div class="form-group">
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Debt</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Equity</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-form-label row" for="file-input">File input</label>
        <div class="col-md-9 upload-btn-wrapper">
          <button class="btnUpload">Upload a file</button>
          <input type="file" id="file-input" name="file-input">
        </div>
      </div>

      <div class="form-group wrapper">
        <button id="yourdiv" style="margin-right:10px;width: 72.53px;" type="button" class="btn btn-block btn-outline-success">SAVE</button>
        <button id="yourdiv" style="width: 72.53px;margin-top: 0px!important" type="button" class="btn btn-block btn-outline-danger">CANCEL</button>
      </div>
    </div>
  </div>
</div>
