.margin-fix{
 margin-top:-3px !important;
}
.inline-fix{
  display:inline;  
}

image-upload > img 
{
  width:40px;
  cursor:pointer;
}
.wrapper
{
  text-align: center;
}
#yourdiv {
  display: inline-block;
}

// input[type="file"] {
//   display: none;
// }

.imgSize
{ 
  // min-width:  18rem;;
 
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width:  200px;
}
#file-upload {
  display: none;
}
// #file-upload{
//   display: none;
// }
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  display: inline-block
}
.inline{
  text-align: center;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnUpload {
  border: 2px solid gray;
  color:#23282c;
  background-color: #e4e7ea;
  padding:5px;
  border-radius: 8px;
  font-size: 12px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}